.custom-spinner {
  margin-top: 12rem;
}

::ng-deep .p-progressspinner {
  height: 15rem !important;
  width: 15rem !important;
}

::ng-deep .p-toast-close-button .p-button-label {
  font-size: 0;
}

::ng-deep .p-tooltip {
  --p-tooltip-background: var(--primary-color);
}
