<p-dialog header="Release Notes" [modal]="true" [(visible)]="visible" (onHide)="visibleChange.emit(false)" [style]="{ width: '50rem', color: 'var(--primary-color)' }" [breakpoints]="{ '1199px': '75vw', '575px': '90vw' }">
    <h2>v2.0 - January 2026</h2>
    <ul>
        <li>Migrated to Angular 19</li>
        <li>Redesigned the user interface</li> 
        <li>Applied SpaceSUITE project styles</li>
        <li>Updated User Manual</li>
    </ul>
    <h2>v1.02 - December 2020</h2>
    <ul>
        <li>Linked User Manual and Privacy Policy</li>
        <li>Add search by BoK Concepts</li>
        <li>Users can automatically join organizations</li>
    </ul>
    <h2>v1.01 - May 2020</h2>
    <ul>
        <li>Add sorting by Last updated, Name and Organization name</li>
        <li>Add pagination to Home view</li>
        <li>Now, every organization can create public profiles</li>
        <li>Fixed a bug where Organization was not saved when editing</li>
    </ul>
    <h2>v1.0 - November 2019</h2>
    <ul>
        <li>First version released</li>
    </ul>
</p-dialog>
