.custom-panel {
  --p-panel-header-color: var(--primary-color);
  --p-panel-color: var(--primary-color);
}

.tag {
  font-size: 0.8rem;
}

.bok-tag,
.transversal-skill-tag {
  --p-tag-primary-color: var(--primary-color);
}

.bok-tag:hover,
.transversal-skill-tag:hover {
  --p-tag-primary-color: white;
}

.skill-tag {
  --p-tag-primary-background: var(--primary-color);
  --p-tag-primary-color: white;
}

.transversal-skill-tag {
  --p-tag-primary-background: color-mix(
    in srgb,
    var(--secondary-color) 50%,
    rgba(255, 255, 255, 0) 50%
  );
}

.custom-bar {
  --p-progressbar-height: 0.5rem;
}

.danger-text {
  color: var(--danger-color);
}

.delete-button {
  --p-button-primary-background: var(--danger-color);
  --p-button-primary-border-color: var(--danger-color);
  --p-button-primary-focus-ring-color: var(--danger-color);
  --p-button-primary-hover-background: color-mix(
    in srgb,
    var(--danger-color) 90%,
    black 10%
  );
  --p-button-primary-hover-border-color: color-mix(
    in srgb,
    var(--danger-color) 90%,
    black 10%
  );
  --p-button-primary-active-background: color-mix(
    in srgb,
    var(--danger-color) 70%,
    black 30%
  );
  --p-button-primary-active-border-color: color-mix(
    in srgb,
    var(--danger-color) 80%,
    black 20%
  );
}

.popover-element:hover {
  color: var(--hover-color);
  cursor: pointer;
}

::ng-deep .p-confirmdialog {
  color: var(--primary-color) !important;
}

::ng-deep .p-confirmdialog .p-confirmdialog-icon {
  color: var(--primary-color) !important;
}

::ng-deep .p-confirmdialog .p-button {
  --p-button-primary-background: var(--danger-color);
  --p-button-primary-border-color: var(--danger-color);
  --p-button-primary-hover-background: color-mix(
    in srgb,
    var(--danger-color) 90%,
    black 10%
  );
  --p-button-primary-hover-border-color: color-mix(
    in srgb,
    var(--danger-color) 90%,
    black 10%
  );
  --p-button-primary-active-background: color-mix(
    in srgb,
    var(--danger-color) 70%,
    black 30%
  );
  --p-button-primary-active-border-color: color-mix(
    in srgb,
    var(--danger-color) 80%,
    black 20%
  );
}
