<div class="flex flex-column min-h-screen">
  <header
    toolName="Occupational Profile Tool"
    [items]="headerItems"
    [login]="true"
    (profileClick)="redirectToProfile()"
    (organizationClick)="redirectToOrganizations()"
  ></header>

  <div class="mx-4 xl:mx-6 p-2">
    <router-outlet></router-outlet>
  </div>

  <footer
    class="mt-auto"
    (openReleaseNotes)="releaseNotes = !releaseNotes"
    (openUserManual)="openPdf()"
  ></footer>
  <release-notes [(visible)]="releaseNotes"></release-notes>
</div>
