<p-card class="custom-card">
  <div class="flex justify-content-between align-items-center gap-6">
    <div class="flex flex-column">
      <div>
        <a
          class="p-card-title card-title"
          href="profile/{{ occupationalProfile._id }}"
          target="_self"
          (click)="onClickTitle($event)"
        >
          {{ occupationalProfile.title }}
        </a>

        <span class="p-card-subtitle text-sm ml-2">
          {{ occupationalProfile.orgName }}

          @if (occupationalProfile.division !== "") {
            - {{ occupationalProfile.division }}
          }
        </span>
      </div>

      <div class="flex flex-column gap-2">
        <div class="flex flex-wrap align-items-center gap-2 text-sm">
          <span class="white-space-nowrap">
            <strong>Knowledge:</strong>
            {{ occupationalProfile.knowledge.length }}
          </span>
          |
          <span class="white-space-nowrap">
            <strong>Skills:</strong>
            {{
              occupationalProfile.skills.length +
                occupationalProfile.customSkills.length
            }}
          </span>
          |
          <span class="white-space-nowrap">
            <strong>Transversal Skills:</strong>
            {{
              occupationalProfile.competences.length +
                occupationalProfile.customCompetences.length
            }}
          </span>
          |
          <span class="white-space-nowrap">
            <strong>EQF level:</strong>
            {{ occupationalProfile.eqf }}
          </span>
          |

          @if (!occupationalProfile.isPublic) {
            <i class="pi pi-eye-slash"></i>
            <strong>Private</strong>
            |
          }

          <span class="white-space-nowrap">
            <strong>Last updated:</strong>
            {{ occupationalProfile.updatedAt?.toDate().toLocaleDateString() }}
          </span>
        </div>

        <div class="text-truncate">
          {{ occupationalProfile.description }}
        </div>

        <div class="flex flex-wrap gap-2">
          @for (concept of concepts; track $index) {
            <p-tag
              class="custom-tag cursor-pointer text-xs"
              [value]="concept"
              [rounded]="true"
              [style.background]="selectedConceptsColor.get(concept)"
              (click)="onClickConcept(concept)"
              [pTooltip]="selectedConceptsTooltip.get(concept)"
              tooltipPosition="top"
            />
          }
        </div>
      </div>
    </div>

    <div class="hidden xl:flex gap-2">
      <p-button
        class="custom-button"
        icon="pi pi-share-alt"
        [rounded]="true"
        variant="text"
        pTooltip="Share"
        tooltipPosition="top"
        (onClick)="copyLink()"
      />

      <div>
        <p-button
          class="custom-button"
          icon="pi pi-download"
          [rounded]="true"
          variant="text"
          pTooltip="Download"
          tooltipPosition="top"
          (onClick)="op.toggle($event)"
        />

        <p-popover #op>
          <div style="color: var(--primary-color)">
            <strong>Choose Format</strong>

            <ul class="flex flex-column p-0 m-0">
              <li class="flex p-2 popover-element" (click)="downloadPDF()">
                PDF
              </li>
              <li
                class="flex p-2 popover-element"
                (click)="downloadRDF('rdfa')"
              >
                RDFa
              </li>
              <li class="flex p-2 popover-element" (click)="downloadRDF('xml')">
                RDF/XML
              </li>
              <li class="flex p-2 popover-element" (click)="downloadRDF('ttl')">
                Turtle
              </li>
            </ul>
          </div>
        </p-popover>
      </div>

      <p-button
        class="custom-button"
        icon="pi pi-clone"
        [rounded]="true"
        variant="text"
        [pTooltip]="logged ? 'Duplicate' : 'Login to be able to duplicate.'"
        tooltipPosition="top"
        [disabled]="!logged"
        (onClick)="duplicateProfile()"
      />

      <p-button
        class="custom-button"
        icon="pi pi-pencil"
        [rounded]="true"
        variant="text"
        [pTooltip]="
          logged
            ? checkUser()
              ? 'Edit'
              : 'You can only edit profiles from your organization.'
            : 'Login to be able to edit.'
        "
        tooltipPosition="top"
        [disabled]="!logged || !checkUser()"
        (onClick)="editProfile()"
      />

      <p-button
        class="custom-button-danger"
        icon="pi pi-trash"
        [rounded]="true"
        variant="text"
        [pTooltip]="
          logged
            ? checkUser()
              ? 'Delete'
              : 'You can only delete profiles from your organization.'
            : 'Login to be able to delete.'
        "
        tooltipPosition="top"
        [tooltipStyleClass]="logged && checkUser() ? 'danger-tooltip' : ''"
        [disabled]="!logged || !checkUser()"
        (onClick)="deleteModal($event)"
      />
    </div>
  </div>
</p-card>
