<p-card class="custom-card">
  <div class="flex justify-content-between align-items-center gap-6">
    <div class="flex flex-column">
      <div class="flex align-items-baseline gap-3">
        <a
          class="p-card-title card-title"
          href="profile/{{ occupationalProfile._id }}"
          target="_self"
          (click)="onClickTitle($event)"
        >
          {{ occupationalProfile.title }}
        </a>

        <strong class="p-card-subtitle text-sm">
          {{ occupationalProfile.orgName }}
          <ng-container *ngIf="occupationalProfile.division !== ''">
            - {{ occupationalProfile.division }}
          </ng-container>
        </strong>
      </div>

      <div class="flex gap-2 text-sm">
        <strong>{{ occupationalProfile.knowledge.length }} Knowledge</strong>
        |
        <strong>
          {{
            occupationalProfile.skills.length +
              occupationalProfile.customSkills.length
          }}
          Skills
        </strong>
        |
        <strong>
          {{
            occupationalProfile.competences.length +
              occupationalProfile.customCompetences.length
          }}
          Transversal Skills
        </strong>
        |
        <strong>EQF: {{ occupationalProfile.eqf }}</strong>
        |
        <ng-container *ngIf="!occupationalProfile.isPublic">
          <strong>Private</strong>
          |
        </ng-container>
        <strong>
          Last updated:
          {{ occupationalProfile.updatedAt?.toDate().toLocaleDateString() }}
        </strong>
      </div>

      <div class="text-truncate mb-2">
        {{ occupationalProfile.description }}
      </div>

      <div class="flex flex-wrap gap-2">
        <ng-container *ngFor="let concept of concepts">
          <p-tag
            class="custom-tag cursor-pointer text-xs"
            [value]="concept"
            [rounded]="true"
            [style.background]="selectedConceptsColor.get(concept)"
            (click)="onClickConcept(concept)"
            [pTooltip]="selectedConceptsTooltip.get(concept)"
            tooltipPosition="top"
            [tooltipStyleClass]="
              selectedConceptsTooltip.get(concept) === 'Deprecated concept'
                ? 'danger-tooltip'
                : ''
            "
          />
        </ng-container>
      </div>
    </div>

    <div class="flex gap-2">
      <p-button
        class="custom-button"
        icon="pi pi-share-alt"
        [rounded]="true"
        variant="text"
        pTooltip="In development"
        tooltipPosition="top"
        disabled="true"
      />

      <p-button
        class="custom-button"
        icon="pi pi-clone"
        [rounded]="true"
        variant="text"
        pTooltip="In development"
        tooltipPosition="top"
        disabled="true"
      />

      <p-button
        class="custom-button"
        icon="pi pi-pencil"
        [rounded]="true"
        variant="text"
        [pTooltip]="
          checkUser()
            ? 'Edit'
            : 'You can only edit profiles from your organization.'
        "
        tooltipPosition="top"
        [disabled]="!checkUser()"
        (onClick)="editProfile()"
      />

      <p-button
        class="custom-button-danger"
        icon="pi pi-trash"
        [rounded]="true"
        variant="text"
        [pTooltip]="
          checkUser()
            ? 'Delete'
            : 'You can only delete profiles from your organization.'
        "
        tooltipPosition="top"
        tooltipStyleClass="danger-tooltip"
        [disabled]="!checkUser()"
        (onClick)="deleteModal($event)"
      />
    </div>
  </div>
</p-card>
