.textarea-iconfield {
  position: relative;
  display: flex;
  align-items: flex-start;
}

.textarea-iconfield .p-inputicon {
  position: absolute;
  top: 17px;
  left: 11px;
  z-index: 1;
}

.custom-textarea {
  padding-left: 2.5rem;
}

.custom-textarea:hover,
.custom-textarea:focus {
  border-color: var(--hover-color) !important;
}

.custom-chip {
  --p-chip-color: var(--primary-color);
  --p-chip-remove-icon-color: var(--primary-color);
  --p-chip-remove-icon-focus-ring-color: var(--primary-color);
}
