<p-toast class="custom-toast" position="bottom-right" />

<p-confirmdialog />

<div #container class="flex gap-4 m-2">
  <filters
    [bokConcepts]="bokConcepts"
    [loading]="loading"
    [logged]="isLogged()"
    [multiSelectOptions]="filterOptions"
    [searchOption]="searchOption"
    [searchValue]="searchValue"
    [visibilityFilter]="visibilityFilter"
    (bokConceptsChange)="setBoKConcepts($event)"
    (multiSelectOptionsChange)="filterPipeline()"
    (searchOptionChange)="setSearchOption($event)"
    (searchValueChange)="setSearchValue($event)"
    (visibilityFilterChange)="setVisibilityFilter($event)"
  />

  <p-divider layout="vertical" />

  @if (filteredProfiles.length !== 0 || loading) {
    <div class="flex flex-column gap-4 w-full">
      <div class="flex flex-column gap-3">
        @if (!loading) {
          @for (profile of paginatedProfiles; track profile._id) {
            <profile-card
              [occupationalProfile]="profile"
              [logged]="isLogged()"
            />
          }
        } @else {
          @for (item of skeletonElements; track $index) {
            <p-skeleton width="100%" height="10rem" borderRadius="12px" />
          }
        }
      </div>

      <p-paginator
        class="custom-paginator"
        [first]="first"
        [rows]="rows"
        [totalRecords]="filteredProfiles.length"
        (onPageChange)="onPageChange($event)"
      />
    </div>
  }

  @if (filteredProfiles.length === 0 && !loading) {
    <p class="font-italic mx-auto">No profiles found</p>
  }
</div>

@if (isLogged()) {
  <div
    class="floating-container flex flex-column gap-2 align-items-end"
    [ngStyle]="{ bottom: buttonBottom + 'px' }"
  >
    <p-button
      (click)="createOccupationalProfile()"
      icon="pi pi-plus"
      label="Add Profile"
      class="custom-button floating-button"
    />
  </div>
}
