<p-toast class="custom-toast" position="bottom-right" />

<p-confirmdialog />

<div #container class="flex flex-column xl:flex-row gap-4 m-2">
  <filters
    class="flex justify-content-center"
    [bokConcepts]="bokConcepts"
    [loading]="loading"
    [logged]="isLogged()"
    [multiSelectOptions]="filterOptions"
    [searchOption]="searchOption"
    [searchValue]="searchValue"
    [visibilityFilter]="visibilityFilter"
    (bokConceptsChange)="setBoKConcepts($event)"
    (multiSelectOptionsChange)="filterPipeline()"
    (searchOptionChange)="setSearchOption($event)"
    (searchValueChange)="setSearchValue($event)"
    (visibilityFilterChange)="setVisibilityFilter($event)"
  />

  <p-divider layout="vertical" class="hidden xl:flex" />
  <p-divider class="flex xl:hidden" />

  <div class="flex flex-column w-full">
    <p-buttongroup class="ml-auto mt-2 align-self-center">
      <p-button
        class="custom-secondary-button"
        severity="secondary"
        size="small"
        [icon]="sortAsc ? 'pi pi-sort-amount-up' : 'pi pi-sort-amount-down'"
        [label]="'Order By ' + sortOption"
        (click)="switchSortOrientation()"
      />

      <p-button
        class="flex custom-secondary-button"
        severity="secondary"
        size="small"
        icon="pi pi-chevron-down"
        (click)="menu.toggle($event)"
      />
    </p-buttongroup>

    <p-menu #menu [model]="sortOptions" popup styleClass="!min-w-fit">
      <ng-template #item let-item>
        <a
          pRipple
          class="flex items-center p-menu-item-link"
          (click)="setSortOption(item.label)"
        >
          <i
            class="w-1rem"
            [ngClass]="item.label == sortOption ? 'pi pi-check' : ''"
          ></i>

          <span class="ml-2">{{ item.label }}</span>
        </a>
      </ng-template>
    </p-menu>

    <p-divider />

    @if (loading) {
      <div class="flex flex-column gap-3">
        @for (item of skeletonElements; track $index) {
          <p-skeleton width="100%" height="11rem" borderRadius="12px" />
        }
      </div>
    } @else if (filteredProfiles.length === 0) {
      <p class="font-italic mx-auto">No profiles found</p>
    } @else {
      <div class="flex flex-column gap-4">
        <div class="flex flex-column gap-3">
          @for (profile of paginatedProfiles; track profile._id) {
            <profile-card
              [occupationalProfile]="profile"
              [logged]="isLogged()"
            />
          }
        </div>

        <p-paginator
          class="custom-paginator"
          [first]="first"
          [rows]="rows"
          [totalRecords]="filteredProfiles.length"
          (onPageChange)="onPageChange($event)"
        />
      </div>
    }
  </div>
</div>

@if (isLogged()) {
  <div
    class="floating-container flex flex-column gap-2 align-items-end"
    [ngStyle]="{ bottom: buttonBottom + 'px' }"
  >
    <p-button
      class="custom-button floating-button"
      icon="pi pi-plus"
      label="Add Profile"
      (click)="createOccupationalProfile()"
    />
  </div>
}
