.custom-paginator {
  --p-paginator-nav-button-selected-background: color-mix(
    in srgb,
    var(--secondary-color) 15%,
    rgba(255, 255, 255, 0.7) 85%
  );
  --p-paginator-nav-button-selected-color: var(--primary-color);
}
.floating-container {
  position: fixed;
  z-index: 1;
  right: 2rem;
}

.floating-button {
  border-radius: var(--p-button-border-radius);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  transition: box-shadow 0.3s ease;
}

::ng-deep .p-confirmdialog {
  color: var(--primary-color) !important;
}

::ng-deep .p-confirmdialog .p-confirmdialog-icon {
  color: var(--primary-color) !important;
}

::ng-deep .p-confirmdialog .p-button {
  --p-button-primary-background: var(--danger-color);
  --p-button-primary-border-color: var(--danger-color);
  --p-button-primary-hover-background: color-mix(
    in srgb,
    var(--danger-color) 90%,
    black 10%
  );
  --p-button-primary-hover-border-color: color-mix(
    in srgb,
    var(--danger-color) 90%,
    black 10%
  );
  --p-button-primary-active-background: color-mix(
    in srgb,
    var(--danger-color) 70%,
    black 30%
  );
  --p-button-primary-active-border-color: color-mix(
    in srgb,
    var(--danger-color) 80%,
    black 20%
  );
}
