.invalid-multiselect {
  --p-multiselect-border-color: var(--danger-color);
  --p-multiselect-dropdown-color: var(--danger-color);
}

::ng-deep .custom-multiselect {
  --p-multiselect-focus-border-color: var(--hover-color);
  --p-multiselect-hover-border-color: var(--hover-color);

  --p-checkbox-checked-background: var(--secondary-color);
  --p-checkbox-checked-border-color: var(--secondary-color);
  --p-checkbox-checked-hover-background: var(--hover-color);
  --p-checkbox-checked-hover-border-color: var(--hover-color);
  --p-checkbox-checked-focus-border-color: var(--secondary-color);
  --p-checkbox-focus-ring-color: var(--secondary-color);

  --p-inputtext-focus-border-color: var(--hover-color);
  --p-inputtext-hover-border-color: var(--hover-color);

  --p-multiselect-option-selected-color: var(--primary-color);
  --p-multiselect-option-selected-focus-color: var(--primary-color);
  --p-multiselect-option-selected-background: color-mix(
    in srgb,
    var(--secondary-color) 10%,
    rgba(0, 0, 0, 0) 90%
  );
  --p-multiselect-option-selected-focus-background: color-mix(
    in srgb,
    var(--secondary-color) 20%,
    rgba(0, 0, 0, 0) 80%
  );
}

@keyframes bounce-scale {
  10% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  95% {
    transform: scale(1);
  }
}
